---
import "@/styles/global.css";

---

<div class="flex flex-col md:flex-row gap-10 md:gap-20 justify-center items-center min-h-screen px-4">
    <section class="w-full max-w-xs md:max-w-sm">
        <div class="bg-white/10 ">
            <a href="/extraccion">
                <img src="/img/extraccion.webp" loading="lazy" class="w-full h-auto transform transition-transform duration-300 ease-in-out hover:scale-120" alt="">
            </a>
            <a href="/extraccion">
                <p class="text-center border border-white text-white p-2 font-bold hover:text-black hover:bg-white/50 duration-300">
                    Conflicto Bélico
                </p>
            </a>
        </div>
    </section>
    
    <section class="w-full max-w-xs md:max-w-sm">
        <div class="bg-white/10 ">
            <a href="/operaciones">
                <img src="/img/operaciones.webp" loading="lazy" class="w-full h-auto transform transition-transform duration-300 ease-in-out hover:scale-120" alt="">
            </a>
            <a href="/operaciones">
                <p class="text-center border border-white text-white p-2 font-bold hover:text-black hover:bg-white/50 duration-300">
                    Operación: Extracción
                </p>
            </a>
        </div>
    </section>
</div>

