---
import "@/styles/global.css";

---

<div class="flex gap-20 justify-center items-center min-h-screen overflow-hidden">
    <section>
        <div class="bg-white/10 ">
            <a href="#">
                <img src="/extraccion.jpg" class="h-55 w-auto transition-transform duration-300 ease-in-out hover:scale-120" alt="">
            </a>
            <a href="#">
                <p class="text-center border border-white text-white p-2 font-bold hover:text-black hover:bg-white/50 duration-300">
                    Conflicto Bélico
                </p>
            </a>
        </div>
    </section>
    
    <section>
        <div class="bg-white/10 ">
            <a href="#">
                <img src="/operaciones.jpg" class="h-55 w-auto transition-transform duration-300 ease-in-out hover:scale-120" alt="">
            </a>
            <a href="#">
                <p class="text-center border border-white text-white p-2 font-bold hover:text-black hover:bg-white/50 duration-300">
                    Operación: Extracción
                </p>
            </a>
        </div>
    </section>
</div>

